{% load static %}
{% load goods_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'goods/css/style.css' %}" />
	<title>{{ title }}</title>
</head>
<body>
	<div class='grid_container'>
		<div class='header'>
			<div class='navbar'>
				<div class='logo'><a href='{% url "home" %}'><img src="{% static 'goods/images/logo.png' %}"></a></div>
				<div class='button'>
					<a href='{% url "home" %}'><img src="{% static 'goods/images/button.png' %}"></a>
					<div class='catalog_menu'>
					<ul>
						{% create_main_menu %}
					</ul>
					</div>
				</div>
				<div class='logo_name'><a href='{% url "home" %}'><img src="{% static 'goods/images/site_name.png' %}"></a></div>
				<div class='person'><a href='#'>input | login</a></div>
				<div class='basket'><a href='#'><img src="{% static 'goods/images/basket.png' %}"></a></div>
			</div>
		</div>

		<div class='content'>
			<div class='content_box'>
				{% block content %}
				{% endblock %}
			</div>

		</div>

		<div class='footer'>
			<div class='footer_menu'>
				<div class='logo_name'>
					<a href='{% url "home" %}'><img src="{% static 'goods/images/logo.png' %}"></a>
					<a href='{% url "home" %}'><img src="{% static 'goods/images/site_name_footer.png' %}"></a>
				</div>
				<div class="footer_links_container">
					<div class="headline"><h2>Категории</h2></div>
					{% get_category_dict as category %}
					<div class="footer_context">
						<ul>
							{% for cat in category %}
							<li class="footer_links"><a href="{% url 'show_category' cat.slug %}">{{cat.name}}</a></li>
							{% endfor%}
							</ul>
					</div>
				</div>
				<div class="footer_links_container">
					<div class="headline"><h2>Информация</h2></div>
					<div class="footer_context">
						{% get_secondary_footer_menu as inf_cat %}
						<ul>
							{% for i in inf_cat %}
							<li class="footer_links"><a href="#">{{i.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="footer_links_container">
					<div class="headline"><h2> С нами можно связаться </h2></div>
					<div class="footer_context">
						<a href ='https://msng.link/o?375296491208=vi' target="_blank" rel="noopener noreferrer"><img src = "{% static 'goods/images/viber.png' %}"></a>
						<a href ='https://msng.link/o?@kazubovich=tg' target="_blank" rel="noopener noreferrer"><img src = "{% static 'goods/images/telegram.png' %}"></a>
						<a href ='https://instagram.com' target="_blank" rel="noopener noreferrer"><img src = "{% static 'goods/images/instagram.png' %}"></a>
						<a href ='#'><img src = "{% static 'goods/images/mail.png' %}"></a>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>